<!---Hosting Start-->
<div id="hosting">
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Hosting</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
        </div>
    </div>
    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                        mind.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
                    cursus
                    commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="static/img/car1.jpg" svg
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
                    cursus
                    commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="static/img/car2.jpg" svg
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
                    cursus
                    commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="static/img/car3.jpeg" svg
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
    <hr class="my-4">

    <!--- Card blocks -->
    <div class="container card-columns">
        <div class="card">
            <img class="card-img-top" src="static/img/card2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ideal designs made for food blogs</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.
                    This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card p-3">
            <div class="card">
                <img class="card-img hoverable" src="static/img/card1.png" alt="Card image">
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/img/card4.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Responsive design compatible with all devices</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/img/car2.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Responsive design compatible with all devices</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="static/img/card1.png" alt="Card image">
        </div>
        <div class="card p-3 text-right">
            <img class="card-img-top" src="static/img/car1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ideal designs made for food blogs</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.
                    This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <!---Card blocks End-->
</div>
<!---Hosting End-->