<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-brand" href="#">
            <img src="static/img/logo2.png" width="90" height=" 50" class="d-inline-block align-top"></a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" #ourteam">Our Team</a>
                <a href="#ourteam" class="anchor-scroll" data-class-to="#hosting" data-scroll-end="bounce" </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hosting">Hosting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>

</nav>

<br>
<!---Navigation End-->