<!---Our Team Start-->
<div id="ourteam" class="container">
    <a href="#ourteam" class="anchor-scroll" data-class-to="this" data-scroll-end="bounce">...</a>
    <div class="wow pulse infinite animated">
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">Our Creative Team</h1>
                </div>
                <hr>
                <div class="col-12">
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                        parent.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!---Card Deck Start-->
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="static/img/team1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">John</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/img/team2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mary</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/img/team3.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mark</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <!---Card Deck End-->

    <!--Section: Not enough-->
    <section class="container">
        <h2 class="my-5 h3 text-center">What can we offer?</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

            <!--First column-->
            <div class="col-md-4">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Free for personal and commercial use</h6>
                        <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well
                            as
                            commercial
                            projects.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">400+ UI elements</h6>
                        <p class="grey-text">An impressive collection of flexible components allows you to develop any
                            project.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Second row-->

                <!--Third row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">600+ icons</h6>
                        <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Third row-->

                <!--Fourth row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Fully responsive</h6>
                        <p class="grey-text">It doesn't matter whether your project will be displayed on desktop,
                            laptop, tablet
                            or
                            mobile phone. MDB
                            looks great on each screen.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Fourth row-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4 flex-center">
                <img src="https://mdbootstrap.com/img/Others/screens.png"
                    alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4 mt-2">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">70+ CSS animations</h6>
                        <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of
                            your
                            project
                            and delight your visitors.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Plenty of useful templates</h6>
                        <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Second row-->

                <!--Third row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Easy installation</h6>
                        <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it
                            is.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Third row-->

                <!--Fourth row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Easy to use and customize</h6>
                        <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows
                            you deep
                            customization. You will
                            easily adjust each component to suit your needs.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Fourth row-->
            </div>
            <!--/Third column-->
        </div>
        <!--/First row-->
    </section>
    <!--Section: Not enough-->
</div>
<!---Our Team End-->