@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

@media (max-width: 1000px) {
  .navbar-collapse.collapse:(.in) {
      display: none !important;
  }
}

html{
  scroll-behavior: smooth;
}


/*---Navigation---*/ 
.navbar-expand{
  background-color: #dddddd;
}

.navbar{
  background-color:#92A8D1;
  opacity: 90%;
   
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;        
}




.navbar-brand{
 margin: 0;
 padding:0;
 background-image: url();
}
.navbar-nav > li {
  display: inline-block;
  float:none;
  padding-left:30px;
  padding-right:30px;
  font-weight: 600;
  font-size:100%;  
}

/*---Welcome Section---*/ 
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 3rem;
  font-weight: bold;
  
}


.welcome hr{
  border-top: 2px solid #b4b4b4;
  width:95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
/*---Jumbotron---*/ 

.jumbotron{
margin: auto;
text-align: center;
padding-top: 2rem;
background-image: url(../img/team3.png);
background-size: cover;
}

.container {
   padding: 5px 10px;
   width:95%;
}

/*---Image1---*/
.img-fluid{
  padding: .1rem;
  height: 20%;
  width: 50%;
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

/* Carousel base class */
.carousel {
  margin-bottom: 1rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 1rem;
  z-index: 10;
  
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: center;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}


#contact{
  padding-top: 0;
}



.page-footer{
  color:white;
  background-color: #92A8D1;

}
/*---Social media icons padding---*/
.fluid-padding{
  padding-top: 3rem;
 }
  
.card:hover{
  color: #d5d5d5;
}

.card-img-top:hover{
  color: #d5d5d5;
}

/*---Social media---*/ 
.social a{
  font-size: 1.5rem;
  padding: .1rem;
  
   
 }



.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-google-plus-g{
  color: #dd4b39;
}
.fa-instagram{
  color: #517fa3;
}
.fa-youtube{
  color: #c4302b;
}
.fa-facebook:hover, 
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}

.text-uppercase {
  color:black;
}

.page-footer{
  background-color: #3b5998;
  opacity: 60%;
}